* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  outline: none;
}

body {
  text-align: center;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-weight: 700;
  font-size: 3em;
}
.wrapper {
  padding: 2em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search_box {
  width: 100%;
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

.input_search {
  width: 60%;
  max-width: 480px;
  padding: 1em 2em;
  border-radius: 25px 0 0 25px;
  background-color: #e3d5ca;
}

.input_search,
.btn_search {
  height: 40px;
  border: none;
}

.btn_search {
  width: 100px;
  background-color: #7c695d;
  border-radius: 0 25px 25px 0;
}

button:hover {
  cursor: pointer;
  background-color: #a29288;
}

/* gird style */
.grid {
  margin-top: 2em;
  max-width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
}

.description {
  font-size: 0.8em;
  margin-bottom: 4em;
}

.grid_item {
  position: relative;
  margin: 1em 0;
  padding: 1em 1em;
  border-radius: 25px;
  background-color: #e3d5ca;
  max-width: 300px;
}

.fade_in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.visible {
  opacity: 1;
}

.title {
  margin: 0.5em 0;
  font-weight: 700;
}

.btn_source {
  padding: 0.5em 1em;
  border: none;
  margin-top: 0.5em;
  border-radius: 25px;
  background-color: #d5bdaf;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none;
}

.stream_locations {
  padding: 1em 0;
  font-size: 1.5em;
  color: #7c695d;
  font-weight: 700;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}

.error_image {
  max-width: 300px;
}

.description_error {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 4em;
}

footer {
  margin-top: auto;
  padding: 2em;
  width: 100%;
  background-color: #e3d5ca;
  height: 175px;
}

footer ul {
  margin-top: 1em;
  list-style: none;
  display: flex;
  justify-content: center;
}

footer ul li {
  margin: 0 1em;
}
